.error-page {
  margin-block: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &-container {
    width: 50%;
    height: 30rem;
    background-color: $slate-100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    &-warning {
      font-size: 5rem;
      color: $red-800;
    }
  }
}
