@import "../base/colors";

.form-body {
  margin-block: 20rem;
  &-container {
    // width: clamp(50rem, 120rem, 140rem);
    width: 80%;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    margin: 0 auto;
    position: relative;
    padding: 3rem;
    background-color: $slate-50;
    @media (max-width: 1000px) {
      width: 80%;
    }
    @media (max-width: 400px) {
      width: 100%;
    }

    @media (max-width: 1300px) {
      // width: 80rem;
      text-align: center;
    }
    &-text {
      margin-block: 1rem;

      h2 {
        font-size: 2.5rem;
        @media (max-width: 1000px) {
          font-size: 5rem;
        }
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 2rem;
      @media (max-width: 1300px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 1000px) {
        // grid-template-columns: 1fr;
        display: block;
      }
      &-child {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        label {
          align-items: center;
          display: flex;
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 1.2rem;
          gap: 1rem;
          // @media (max-width: 1000px) {
          //   font-size: 4rem;
          // }
        }
        select {
          border: 0.1rem solid $slate-200;
          border-radius: 0.3rem;
          color: $slate-700;
          font-size: 1.5rem;
          font-weight: 400;
          outline: none;
          padding: 1.2rem 1.3rem;
          @media (max-width: 1000px) {
            font-size: 2rem;
          }
        }
        input {
          border: 1px solid $slate-200;
          outline: none;
          padding: 1.2rem 1.3rem;
          height: 100%;
          color: $slate-700;
          @media (max-width: 1000px) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
