@import "../base/colors.scss";

.title-center {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 2rem;
  // margin-block: 20rem;
  margin: 20rem 0 10rem;
  @media (max-width: 1000px) {
    margin: 5rem 2rem;
  }

  h2 {
    font-size: 4rem;
    font-weight: bold;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 1.8rem;
    color: $slate-600;
  }
}
