@import "../components/navbar.scss";
@import "../components/secondaryForm.scss";
@import "../components/mainForm.scss";
@import "../components/title.scss";
@import "../components/plan.scss";
@import "../components/pickSection.scss";
@import "../components/banner-section.scss";
@import "../components/choose-section.scss";
@import "../components/testimonials.scss";
@import "../components/faq-section.scss";
@import "../components/download-section.scss";
@import "../components/footer.scss";
@import "../base/colors.scss";
@import "../components/button";
@import "../layout/form.scss";
@import "../base/typography.scss";
@import "../components/errorForm.scss";

.section-hero {
  background-color: $color-gray-50;
  margin: 0 auto;
  // width: 133rem;

  display: flex;
  justify-content: center;
  @media (max-width: 1000px) {
    align-items: center;
    justify-content: center;
  }
  &-container {
    // width: clamp(70rem, 120rem, 180rem);
    padding: 5rem;
    display: flex;
    @media (max-width: 1000px) {
      align-items: center;
      justify-content: center;
    }
    &-text {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 45rem;
      @media (max-width: 1000px) {
        align-items: center;
        text-align: center;
        width: 100%;
      }
      &-buttons {
        display: flex;
        gap: 3rem;

        @media (max-width: 1000px) {
          display: grid;
          margin-top: 10rem;
        }
      }

      h1 {
        font-size: 5rem;
      }
      p {
        font-size: 1.5rem;
        color: $color-gray-400;
      }
      span {
        color: $color-orage-500;
      }
      h3 {
        font-size: 2rem;
      }
    }
    &-image {
      position: relative;
      width: 60rem;
      transition: all 1s;
      @media (max-width: 1400px) {
        width: 50rem;
      }

      @media (max-width: 1000px) {
        display: none;
      }
      &-car {
        width: 140%;
        position: absolute;
        transition: all 1s;
        @media (max-width: 1500px) {
          width: 100%;
          bottom: 0;
        }
      }
    }
  }
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  transition: all 1s;
  @media (max-width: 1300px) {
    right: -25rem;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}
