@import "./base/base.scss";
@import "./pages/home";
@import "./base/colors.scss";
@import "./pages/about";
@import "./pages/models";
@import "./pages/team";
@import "./pages/contact";
@import "./pages/login";
@import "./components/spinner.scss";
@import "./pages/login";
@import "./components/error.scss";
.button-icon {
  background: none;
  border: none;
  // padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;

  &:hover {
    background-color: $gray-100;
    cursor: pointer;
  }
  & svg {
    width: 2.2rem;
    height: 2.2rem;
    color: $orange-600;
  }
}
