@import "./base/base.scss";
@import "./pages/home";
@import "./base/colors.scss";
@import "./pages/about";
@import "./pages/models";
@import "./pages/team";
@import "./pages/contact";
@import "./pages/login";
@import "./components/spinner.scss";

.login-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 48rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: $slate-100;
  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $slate-50;
  padding: 3rem;
  gap: 2rem;
  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-label {
      font-size: 2rem;
    }
    &-input {
      border: 1px solid $gray-300;
      background-color: $gray-50;
      border-radius: 0.5rem;
      padding: 1rem 1.4rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}
