* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #f9fafb;
  font-family: "Poppins", sans-serif;
  position: relative; }

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff; }

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px; }

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff; }

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff; }

*::-webkit-scrollbar-track:active {
  background-color: #ffffff; }

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff4d30; }

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30; }

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525; }

.main-nav {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30; }
  .main-nav-logo {
    color: #f97316;
    font-size: 3.5rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 10rem;
    font-weight: bold; }
    @media (max-width: 1200px) {
      .main-nav-logo {
        font-size: 2rem; } }
    @media (max-width: 1000px) {
      .main-nav-logo {
        margin: 0;
        position: absolute;
        top: 1.75rem;
        left: 1rem; } }
  .main-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-right: 10rem; }
    .main-nav ul li > * {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.5rem;
      color: #0f172a; }
      @media (max-width: 1200px) {
        .main-nav ul li > * {
          font-size: 1.2rem; } }
      .main-nav ul li > *:hover {
        color: #ea580c; }

.toggle-mobile {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  font-size: 3rem;
  color: #0f172a;
  display: none;
  z-index: 20;
  text-decoration: none; }

@media (max-width: 1000px) {
  .toggle-mobile {
    display: block; }
  .main-nav {
    flex-direction: column;
    align-items: flex-start;
    z-index: 10000;
    position: relative; }
    .main-nav ul {
      display: flex;
      flex-direction: column;
      background-color: #f1f5f9;
      width: 100%;
      position: fixed;
      height: 100vh;
      left: -100%;
      transition: all 0.5s ease-in-out;
      justify-content: center; }
    .main-nav ul.active {
      display: flex;
      justify-content: center;
      left: 0; }
    .main-nav ul li {
      text-align: center;
      padding-block: 1rem;
      z-index: 10; } }

.section-hero {
  background-color: #f9fafb;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  @media (max-width: 1000px) {
    .section-hero {
      align-items: center;
      justify-content: center; } }
  .section-hero-container {
    padding: 5rem;
    display: flex; }
    @media (max-width: 1000px) {
      .section-hero-container {
        align-items: center;
        justify-content: center; } }
    .section-hero-container-text {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 45rem; }
      @media (max-width: 1000px) {
        .section-hero-container-text {
          align-items: center;
          text-align: center;
          width: 100%; } }
      .section-hero-container-text-buttons {
        display: flex;
        gap: 3rem; }
        @media (max-width: 1000px) {
          .section-hero-container-text-buttons {
            display: grid;
            margin-top: 10rem; } }
      .section-hero-container-text h1 {
        font-size: 5rem; }
      .section-hero-container-text p {
        font-size: 1.5rem;
        color: #9ca3af; }
      .section-hero-container-text span {
        color: #f97316; }
      .section-hero-container-text h3 {
        font-size: 2rem; }
    .section-hero-container-image {
      position: relative;
      width: 60rem;
      transition: all 1s; }
      @media (max-width: 1400px) {
        .section-hero-container-image {
          width: 50rem; } }
      @media (max-width: 1000px) {
        .section-hero-container-image {
          display: none; } }
      .section-hero-container-image-car {
        width: 140%;
        position: absolute;
        transition: all 1s; }
        @media (max-width: 1500px) {
          .section-hero-container-image-car {
            width: 100%;
            bottom: 0; } }

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  transition: all 1s; }
  @media (max-width: 1300px) {
    .absolute {
      right: -25rem; } }
  @media (max-width: 1000px) {
    .absolute {
      display: none; } }

.form-body {
  margin-block: 20rem; }
  .form-body-container {
    width: 80%;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    margin: 0 auto;
    position: relative;
    padding: 3rem;
    background-color: #f8fafc; }
    @media (max-width: 1000px) {
      .form-body-container {
        width: 80%; } }
    @media (max-width: 400px) {
      .form-body-container {
        width: 100%; } }
    @media (max-width: 1300px) {
      .form-body-container {
        text-align: center; } }
    .form-body-container-text {
      margin-block: 1rem; }
      .form-body-container-text h2 {
        font-size: 2.5rem; }
        @media (max-width: 1000px) {
          .form-body-container-text h2 {
            font-size: 5rem; } }
    .form-body-container-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 2rem; }
      @media (max-width: 1300px) {
        .form-body-container-grid {
          grid-template-columns: 1fr 1fr; } }
      @media (max-width: 1000px) {
        .form-body-container-grid {
          display: block; } }
      .form-body-container-grid-child {
        display: flex;
        flex-direction: column;
        margin-top: 2rem; }
        .form-body-container-grid-child label {
          align-items: center;
          display: flex;
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 1.2rem;
          gap: 1rem; }
        .form-body-container-grid-child select {
          border: 0.1rem solid #e2e8f0;
          border-radius: 0.3rem;
          color: #334155;
          font-size: 1.5rem;
          font-weight: 400;
          outline: none;
          padding: 1.2rem 1.3rem; }
          @media (max-width: 1000px) {
            .form-body-container-grid-child select {
              font-size: 2rem; } }
        .form-body-container-grid-child input {
          border: 1px solid #e2e8f0;
          outline: none;
          padding: 1.2rem 1.3rem;
          height: 100%;
          color: #334155; }
          @media (max-width: 1000px) {
            .form-body-container-grid-child input {
              font-size: 2rem; } }

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.6); }

.modal-body {
  width: 100rem;
  margin: 10rem auto 0;
  background-color: rgba(249, 250, 251, 0.9);
  padding: 2rem;
  height: 70rem;
  overflow: scroll;
  position: relative;
  z-index: 999999;
  border: 1px solid #d1d5db; }
  @media (max-width: 1000px) {
    .modal-body {
      width: 100%;
      height: 100%;
      background-color: #f9fafb;
      margin: 0; } }

.modal-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 3rem;
  align-items: center;
  background-color: #dc2626;
  color: white;
  padding: 0 3rem; }
  @media (max-width: 1000px) {
    .modal-title {
      font-size: 1.5rem; } }

.modal-info {
  background-color: rgba(251, 146, 60, 0.2);
  padding: 3rem; }
  .modal-info h3 {
    font-size: 3rem;
    color: #dc2626;
    margin-bottom: 2rem; }
    @media (max-width: 1000px) {
      .modal-info h3 {
        font-size: 1.5rem; } }
  .modal-info p {
    font-size: 2rem; }
    @media (max-width: 1000px) {
      .modal-info p {
        font-size: 1rem; } }

.modal-car-selected-body {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem; }
  @media (max-width: 1000px) {
    .modal-car-selected-body {
      grid-template-columns: 1fr; } }
  @media (max-width: 1000px) {
    .modal-car-selected-body-info {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .modal-car-selected-body-info h4 {
    color: #fb923c;
    font-size: 2rem; }
  .modal-car-selected-body-info-child {
    display: flex;
    gap: 2rem;
    margin-block: 2rem; }
    .modal-car-selected-body-info-child-marker {
      font-size: 3rem; }
    .modal-car-selected-body-info-child-text span {
      font-size: 2rem; }
      @media (max-width: 1000px) {
        .modal-car-selected-body-info-child-text span {
          font-size: 1rem; } }
    .modal-car-selected-body-info-child-text p {
      font-size: 2rem; }
      @media (max-width: 1000px) {
        .modal-car-selected-body-info-child-text p {
          font-size: 1rem; } }
  @media (max-width: 1000px) {
    .modal-car-selected-body-car img {
      width: 50%; } }
  @media (max-width: 1000px) {
    .modal-car-selected-body-car {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .modal-car-selected-body-car-title {
    display: flex;
    gap: 1rem;
    font-size: 2rem; }
    .modal-car-selected-body-car-title span {
      color: #fb923c; }

.modal-form {
  padding: 1rem; }
  @media (max-width: 1000px) {
    .modal-form {
      text-align: center; } }
  .modal-form h3 {
    color: #f97316;
    font-size: 3rem;
    margin-bottom: 2rem; }
  .modal-form-info-checkbox {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    color: #4b5563; }
    .modal-form-info-checkbox input {
      width: 1.6rem; }
  .modal-form-info-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem; }
  .modal-form-info-2col {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 1000px) {
      .modal-form-info-2col {
        grid-template-columns: 1fr; } }
    .modal-form-info-2col-child {
      display: grid;
      margin-bottom: 4rem;
      margin-right: 2rem; }
      .modal-form-info-2col-child label {
        font-size: 2rem;
        color: #4b5563;
        gap: 0.5rem; }
      .modal-form-info-2col-child input {
        padding: 1.5rem;
        outline: none;
        border: none;
        background-color: #d1d5db; }
  .modal-form-info-1col {
    display: grid; }
    .modal-form-info-1col-child {
      display: grid;
      margin-bottom: 4rem;
      margin-right: 2rem; }
      .modal-form-info-1col-child label {
        font-size: 2rem;
        color: #4b5563;
        gap: 0.5rem; }
      .modal-form-info-1col-child input {
        padding: 1.5rem;
        outline: none;
        border: none;
        background-color: #d1d5db; }

.title-center {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 2rem;
  margin: 20rem 0 10rem; }
  @media (max-width: 1000px) {
    .title-center {
      margin: 5rem 2rem; } }
  .title-center h2 {
    font-size: 4rem;
    font-weight: bold; }
  .title-center h3 {
    font-size: 2rem; }
  .title-center p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 1.8rem;
    color: #475569; }

.homeplan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10rem; }
  @media (max-width: 1000px) {
    .homeplan-container {
      flex-direction: column; } }
  .homeplan-container-child {
    max-width: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    place-items: center;
    text-align: center;
    padding: 0.5rem; }
    .homeplan-container-child img {
      width: 50%; }
    .homeplan-container-child h2 {
      font-size: 2.5rem; }
      @media (max-width: 1000px) {
        .homeplan-container-child h2 {
          font-size: 2rem; } }
    .homeplan-container-child p {
      font-size: 2rem;
      padding: 1rem;
      color: #475569; }
      @media (max-width: 1000px) {
        .homeplan-container-child p {
          font-size: 1.5rem; } }

.pick-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-bottom: 30rem; }
  @media (max-width: 1000px) {
    .pick-section-container {
      flex-direction: column;
      margin-bottom: 5rem; } }
  .pick-section-container-cars {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    @media (max-width: 1000px) {
      .pick-section-container-cars {
        width: 80%;
        text-align: center; } }
    .pick-section-container-cars-car {
      padding: 2rem;
      font-weight: 600;
      transition: all 0.5s;
      font-size: 2rem;
      background-color: #e2e8f0; }
  .pick-section-container-image {
    max-width: 50rem;
    aspect-ratio: 2/1; }
    @media (max-width: 1000px) {
      .pick-section-container-image {
        margin-bottom: 7rem; } }
    .pick-section-container-image img {
      width: 100%;
      margin-top: 5rem; }
  .pick-section-container-details {
    display: flex;
    flex-direction: column; }
    .pick-section-container-details-button {
      padding: 2rem;
      text-align: center;
      background-color: #f97316; }
      .pick-section-container-details-button a {
        text-decoration: none;
        color: #f1f5f9;
        font-size: 2rem;
        text-transform: uppercase; }
    .pick-section-container-details-price {
      padding: 1.5rem;
      color: #f1f5f9;
      font-size: 2.5rem;
      background-color: #f97316; }
    .pick-section-container-details-specs {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 0.3rem solid #94a3b8; }
      .pick-section-container-details-specs-col {
        padding: 1rem;
        max-width: 50rem;
        display: flex;
        border-bottom: 0.3rem solid #94a3b8; }
        .pick-section-container-details-specs-col span {
          font-size: 1.5rem;
          width: 50%;
          text-align: center; }
          .pick-section-container-details-specs-col span:nth-child(1) {
            border-right: 0.3rem solid #94a3b8; }

.active {
  background-color: #fb923c; }

.banner-section {
  background-color: #1c1917;
  padding: 5rem;
  margin-bottom: 10rem; }
  .banner-section-title {
    margin: 0;
    color: #f1f5f9;
    font-weight: bolder; }
    .banner-section-title span {
      color: #fb923c; }

.choose-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  padding: 2rem;
  gap: 2rem; }
  @media (max-width: 1000px) {
    .choose-section {
      gap: 2rem; } }
  .choose-section img {
    max-width: 130rem;
    width: 100%; }
    @media (max-width: 1100px) {
      .choose-section img {
        width: 75%; } }
  .choose-section-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 130rem;
    width: 100%;
    gap: 3rem; }
    @media (max-width: 1000px) {
      .choose-section-container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .choose-section-container-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 40%; }
      @media (max-width: 1000px) {
        .choose-section-container-text {
          width: 75%;
          text-align: center; } }
      .choose-section-container-text h2 {
        font-size: 4rem;
        font-weight: 800; }
      .choose-section-container-text h3 {
        font-size: 2rem; }
      .choose-section-container-text p {
        font-size: 1.5rem;
        color: #64748b;
        word-spacing: 0.3rem;
        line-height: 1.4; }
      .choose-section-container-text a {
        padding: 2rem;
        background-color: #f97316;
        text-decoration: none;
        color: #f8fafc;
        font-size: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border-radius: 0.5rem; }
    .choose-section-container-3cols {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 35%; }
      @media (max-width: 1000px) {
        .choose-section-container-3cols {
          width: 75%;
          text-align: center; } }
      .choose-section-container-3cols-1col {
        display: flex;
        gap: 1rem; }
        @media (max-width: 1000px) {
          .choose-section-container-3cols-1col {
            flex-direction: column;
            align-items: center; } }
        .choose-section-container-3cols-1col img {
          width: 11rem; }
        .choose-section-container-3cols-1col-text {
          display: flex;
          flex-direction: column;
          gap: 1rem; }
          .choose-section-container-3cols-1col-text h3 {
            font-size: 2rem;
            font-weight: 900; }
          .choose-section-container-3cols-1col-text p {
            font-size: 1.5rem;
            color: #475569; }

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  background-color: #f1f5f9; }
  .testimonials-box {
    display: flex;
    gap: 3rem;
    margin-bottom: 10rem; }
    @media (max-width: 1000px) {
      .testimonials-box {
        flex-direction: column; } }
    .testimonials-box-container {
      padding: 5rem;
      background-color: #f8fafc;
      max-width: 50rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
      @media (max-width: 500px) {
        .testimonials-box-container {
          width: 90%;
          margin: 0 auto; } }
      .testimonials-box-container p {
        font-size: 2.2rem;
        font-weight: 500; }
        @media (max-width: 1000px) {
          .testimonials-box-container p {
            font-size: 1.8rem;
            text-align: center; } }
      .testimonials-box-container-profile {
        display: flex;
        align-items: center;
        gap: 2rem; }
        .testimonials-box-container-profile img {
          border-radius: 50%;
          width: 8rem; }
        .testimonials-box-container-profile h3 {
          font-size: 2.5rem; }
        .testimonials-box-container-profile span {
          font-size: 1.5rem; }

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem; }
  .faq-container {
    border: 0.1rem solid #e2e8f0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80rem;
    position: relative;
    transition: all 0.5s; }
    @media (max-width: 1000px) {
      .faq-container {
        max-width: 80rem;
        width: 100%; } }
    @media (max-width: 500px) {
      .faq-container {
        margin: 0 auto;
        width: 80%; } }
    .faq-container-question {
      transition: all 0.5s;
      cursor: pointer;
      padding: 2rem; }
    .faq-container h3 {
      display: flex;
      justify-content: space-between;
      font-size: 2rem; }
    .faq-container-text {
      padding: 2rem;
      font-size: 1.7rem;
      transition: all 1s;
      overflow: hidden;
      color: #475569;
      transition: all 1s; }

.open-color {
  background-color: #f97316;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #f8fafc; }

.download-section {
  background-color: #f3f4f6;
  padding: 10rem 10rem 0 10rem; }
  @media (max-width: 1000px) {
    .download-section {
      padding: 3rem; } }
  .download-section-container {
    background-image: url("/src/images/banners/bg02.png");
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1000px) {
      .download-section-container {
        background-image: none;
        justify-content: center; } }
  .download-section-container-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35%;
    margin-bottom: 10rem; }
    @media (max-width: 1000px) {
      .download-section-container-text {
        width: 70%;
        text-align: center; } }
    .download-section-container-text h2 {
      font-size: 3rem;
      font-weight: 800; }
    .download-section-container-text p {
      font-size: 1.7rem;
      color: #475569; }
    .download-section-container-text div {
      display: flex;
      gap: 2rem; }
      @media (max-width: 1000px) {
        .download-section-container-text div {
          flex-direction: column;
          align-items: center; }
          .download-section-container-text div img {
            width: 50%; } }
    @media (max-width: 1000px) and (max-width: 500px) {
      .download-section-container-text div img {
        width: 100%; } }

.footer {
  max-width: 133rem;
  margin: 0 auto;
  padding: 2rem; }
  .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 5rem; }
    @media (max-width: 1000px) {
      .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; } }

.footer-content {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%; }
  @media (max-width: 1000px) {
    .footer-content {
      width: 70%; } }
  .footer-content-title {
    font-size: 2.5rem;
    font-weight: 900; }
  .footer-content li {
    font-size: 2rem; }
    .footer-content li p {
      font-size: 1.5rem;
      color: #475569; }
    .footer-content li a {
      color: #0f172a;
      text-decoration: none;
      font-weight: 500; }
    .footer-content li input {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.6rem;
      border: 1px solid transparent;
      padding: 1rem;
      outline: none;
      background-color: #e5e7eb;
      width: 100%; }
      @media (max-width: 1000px) {
        .footer-content li input {
          padding: 1rem; } }

.submit-email {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #ff4d30;
  padding: 1.5rem 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 #ff5330;
  transition: all 0.3s;
  border: 2px solid #ff4d30;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%; }
  .submit-email:hover {
    box-shadow: 0 10px 15px 0 #ff5330;
    background-color: #fa4226; }

.main-btn {
  padding: 2rem;
  font-size: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s; }
  .main-btn:active {
    transform: scale(0.9); }

.btn-color-orange {
  background-color: #ea580c;
  color: #f8fafc;
  box-shadow: #ea580c 0px 2px 9px 0px; }
  .btn-color-orange:hover {
    background-color: #c2410c; }

.btn-color-black {
  background-color: #1c1917;
  color: #f8fafc;
  box-shadow: #57534e 0px 2px 9px 0px; }
  .btn-color-black:hover {
    background-color: #f8fafc;
    color: #1c1917; }

.btn-form {
  align-self: self-end; }

.main-btn-width {
  width: 100%;
  margin-top: 2rem; }

.error-form {
  color: #f87171;
  font-size: 2rem; }
  @media (max-width: 1000px) {
    .error-form {
      font-size: 3rem; } }

.main-btn {
  padding: 2rem;
  font-size: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s; }
  .main-btn:active {
    transform: scale(0.9); }

.btn-color-orange {
  background-color: #ea580c;
  color: #f8fafc;
  box-shadow: #ea580c 0px 2px 9px 0px; }
  .btn-color-orange:hover {
    background-color: #c2410c; }

.btn-color-black {
  background-color: #1c1917;
  color: #f8fafc;
  box-shadow: #57534e 0px 2px 9px 0px; }
  .btn-color-black:hover {
    background-color: #f8fafc;
    color: #1c1917; }

.btn-form {
  align-self: self-end; }

.main-btn-width {
  width: 100%;
  margin-top: 2rem; }

.hero {
  width: 100%;
  height: 41rem;
  background-image: linear-gradient(to right bottom, rgba(243, 244, 246, 0.801), rgba(229, 231, 235, 0.803)), url("/src/images/hero/heroes-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.title-hero {
  max-width: 133rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  .title-hero h2 {
    font-size: 4rem; }
  .title-hero p {
    font-size: 2rem; }
  @media (max-width: 1300px) {
    .title-hero {
      margin-left: 2rem; } }

.about {
  margin-block: 10rem;
  max-width: 133rem;
  margin: 0 auto; }
  .about-container {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    padding-top: 10rem; }
    @media (max-width: 1000px) {
      .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
    .about-container img {
      max-width: 43rem; }
      @media (max-width: 500px) {
        .about-container img {
          width: 75%; } }
    .about-container-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 43rem; }
      @media (max-width: 500px) {
        .about-container-text {
          margin: 2rem; } }
      .about-container-text-flex {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
        @media (max-width: 500px) {
          .about-container-text-flex {
            grid-template-columns: 1fr;
            margin: 0 auto; } }
        .about-container-text-flex-kid {
          display: flex;
          flex-direction: column; }
          .about-container-text-flex-kid img {
            width: 7rem;
            height: 4rem; }
          .about-container-text-flex-kid span {
            display: flex;
            align-items: center;
            gap: 1rem; }
            .about-container-text-flex-kid span h4 {
              font-size: 6rem; }
            .about-container-text-flex-kid span p {
              font-size: 1.6rem;
              line-height: 1.5;
              margin-bottom: 4rem;
              margin-top: 2.5rem; }
      .about-container-text h3 {
        font-size: 2rem; }
      .about-container-text h2 {
        font-size: 3rem;
        font-weight: 800; }
      .about-container-text p {
        font-size: 1.6rem;
        color: #475569; }

.book-banner {
  background-image: linear-gradient(to right bottom, rgba(15, 23, 42, 0.801), rgba(51, 65, 85, 0.803)), url("/src/images/banners/book-banner.png");
  margin-block: 10rem;
  display: flex;
  height: 20rem;
  width: 100%;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1000px) {
    .book-banner {
      margin-block: 2rem; } }
  .book-banner-container-text {
    color: #f9fafb;
    display: flex;
    align-items: center;
    gap: 2rem; }
    @media (max-width: 1000px) {
      .book-banner-container-text {
        flex-direction: column;
        text-align: center; } }
    .book-banner-container-text h2 {
      font-size: 3rem; }
      @media (max-width: 1000px) {
        .book-banner-container-text h2 {
          font-size: 2rem; } }
    .book-banner-container-text span {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #ea580c;
      font-size: 3rem; }
      @media (max-width: 1000px) {
        .book-banner-container-text span {
          font-size: 2rem; } }

.footer {
  max-width: 133rem;
  margin: 0 auto;
  padding: 2rem; }
  .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 5rem; }
    @media (max-width: 1000px) {
      .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; } }

.footer-content {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%; }
  @media (max-width: 1000px) {
    .footer-content {
      width: 70%; } }
  .footer-content-title {
    font-size: 2.5rem;
    font-weight: 900; }
  .footer-content li {
    font-size: 2rem; }
    .footer-content li p {
      font-size: 1.5rem;
      color: #475569; }
    .footer-content li a {
      color: #0f172a;
      text-decoration: none;
      font-weight: 500; }
    .footer-content li input {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.6rem;
      border: 1px solid transparent;
      padding: 1rem;
      outline: none;
      background-color: #e5e7eb;
      width: 100%; }
      @media (max-width: 1000px) {
        .footer-content li input {
          padding: 1rem; } }

.submit-email {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #ff4d30;
  padding: 1.5rem 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 #ff5330;
  transition: all 0.3s;
  border: 2px solid #ff4d30;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%; }
  .submit-email:hover {
    box-shadow: 0 10px 15px 0 #ff5330;
    background-color: #fa4226; }

.main-btn {
  padding: 2rem;
  font-size: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s; }
  .main-btn:active {
    transform: scale(0.9); }

.btn-color-orange {
  background-color: #ea580c;
  color: #f8fafc;
  box-shadow: #ea580c 0px 2px 9px 0px; }
  .btn-color-orange:hover {
    background-color: #c2410c; }

.btn-color-black {
  background-color: #1c1917;
  color: #f8fafc;
  box-shadow: #57534e 0px 2px 9px 0px; }
  .btn-color-black:hover {
    background-color: #f8fafc;
    color: #1c1917; }

.btn-form {
  align-self: self-end; }

.main-btn-width {
  width: 100%;
  margin-top: 2rem; }

.hero {
  width: 100%;
  height: 41rem;
  background-image: linear-gradient(to right bottom, rgba(243, 244, 246, 0.801), rgba(229, 231, 235, 0.803)), url("/src/images/hero/heroes-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.title-hero {
  max-width: 133rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  .title-hero h2 {
    font-size: 4rem; }
  .title-hero p {
    font-size: 2rem; }
  @media (max-width: 1300px) {
    .title-hero {
      margin-left: 2rem; } }

.models-container {
  max-width: 133rem;
  margin: 0 auto; }
  .models-container-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10rem; }
    @media (max-width: 1200px) {
      .models-container-flex {
        gap: 2rem; } }
    @media (max-width: 700px) {
      .models-container-flex {
        justify-content: center; } }

.model-car {
  margin-top: 2rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #94a3b8;
  background-color: white; }
  .model-car img {
    margin: 0 auto;
    max-width: 30rem;
    width: 100%;
    height: 100%; }
    @media (max-width: 1200px) {
      .model-car img {
        width: 75%; } }
  .model-car-text {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem; }
    .model-car-text-name {
      display: flex;
      justify-content: space-between; }
      .model-car-text-name h2 {
        font-size: 3rem; }
    .model-car-text-info {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      gap: 2rem; }
      .model-car-text-info p {
        font-size: 2rem;
        color: #475569; }

.model-button {
  background-color: #ea580c;
  font-size: 2rem;
  padding: 2rem;
  color: #f8fafc;
  font-weight: 900;
  transition: all 0.1s;
  cursor: pointer; }
  .model-button:active {
    background-color: #c2410c;
    transform: scale(0.95); }

.book-banner {
  background-image: linear-gradient(to right bottom, rgba(15, 23, 42, 0.801), rgba(51, 65, 85, 0.803)), url("/src/images/banners/book-banner.png");
  margin-block: 10rem;
  display: flex;
  height: 20rem;
  width: 100%;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1000px) {
    .book-banner {
      margin-block: 2rem; } }
  .book-banner-container-text {
    color: #f9fafb;
    display: flex;
    align-items: center;
    gap: 2rem; }
    @media (max-width: 1000px) {
      .book-banner-container-text {
        flex-direction: column;
        text-align: center; } }
    .book-banner-container-text h2 {
      font-size: 3rem; }
      @media (max-width: 1000px) {
        .book-banner-container-text h2 {
          font-size: 2rem; } }
    .book-banner-container-text span {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #ea580c;
      font-size: 3rem; }
      @media (max-width: 1000px) {
        .book-banner-container-text span {
          font-size: 2rem; } }

.footer {
  max-width: 133rem;
  margin: 0 auto;
  padding: 2rem; }
  .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 5rem; }
    @media (max-width: 1000px) {
      .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; } }

.footer-content {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%; }
  @media (max-width: 1000px) {
    .footer-content {
      width: 70%; } }
  .footer-content-title {
    font-size: 2.5rem;
    font-weight: 900; }
  .footer-content li {
    font-size: 2rem; }
    .footer-content li p {
      font-size: 1.5rem;
      color: #475569; }
    .footer-content li a {
      color: #0f172a;
      text-decoration: none;
      font-weight: 500; }
    .footer-content li input {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.6rem;
      border: 1px solid transparent;
      padding: 1rem;
      outline: none;
      background-color: #e5e7eb;
      width: 100%; }
      @media (max-width: 1000px) {
        .footer-content li input {
          padding: 1rem; } }

.submit-email {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #ff4d30;
  padding: 1.5rem 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 #ff5330;
  transition: all 0.3s;
  border: 2px solid #ff4d30;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%; }
  .submit-email:hover {
    box-shadow: 0 10px 15px 0 #ff5330;
    background-color: #fa4226; }

.sort-container {
  max-width: 133rem;
  margin: 0 auto;
  margin-top: 10rem; }
  .sort-container select {
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f1f5f9;
    border: 1px solid #f3f4f6; }

.main-btn {
  padding: 2rem;
  font-size: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s; }
  .main-btn:active {
    transform: scale(0.9); }

.btn-color-orange {
  background-color: #ea580c;
  color: #f8fafc;
  box-shadow: #ea580c 0px 2px 9px 0px; }
  .btn-color-orange:hover {
    background-color: #c2410c; }

.btn-color-black {
  background-color: #1c1917;
  color: #f8fafc;
  box-shadow: #57534e 0px 2px 9px 0px; }
  .btn-color-black:hover {
    background-color: #f8fafc;
    color: #1c1917; }

.btn-form {
  align-self: self-end; }

.main-btn-width {
  width: 100%;
  margin-top: 2rem; }

.hero {
  width: 100%;
  height: 41rem;
  background-image: linear-gradient(to right bottom, rgba(243, 244, 246, 0.801), rgba(229, 231, 235, 0.803)), url("/src/images/hero/heroes-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.title-hero {
  max-width: 133rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  .title-hero h2 {
    font-size: 4rem; }
  .title-hero p {
    font-size: 2rem; }
  @media (max-width: 1300px) {
    .title-hero {
      margin-left: 2rem; } }

.book-banner {
  background-image: linear-gradient(to right bottom, rgba(15, 23, 42, 0.801), rgba(51, 65, 85, 0.803)), url("/src/images/banners/book-banner.png");
  margin-block: 10rem;
  display: flex;
  height: 20rem;
  width: 100%;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1000px) {
    .book-banner {
      margin-block: 2rem; } }
  .book-banner-container-text {
    color: #f9fafb;
    display: flex;
    align-items: center;
    gap: 2rem; }
    @media (max-width: 1000px) {
      .book-banner-container-text {
        flex-direction: column;
        text-align: center; } }
    .book-banner-container-text h2 {
      font-size: 3rem; }
      @media (max-width: 1000px) {
        .book-banner-container-text h2 {
          font-size: 2rem; } }
    .book-banner-container-text span {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #ea580c;
      font-size: 3rem; }
      @media (max-width: 1000px) {
        .book-banner-container-text span {
          font-size: 2rem; } }

.footer {
  max-width: 133rem;
  margin: 0 auto;
  padding: 2rem; }
  .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 5rem; }
    @media (max-width: 1000px) {
      .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; } }

.footer-content {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%; }
  @media (max-width: 1000px) {
    .footer-content {
      width: 70%; } }
  .footer-content-title {
    font-size: 2.5rem;
    font-weight: 900; }
  .footer-content li {
    font-size: 2rem; }
    .footer-content li p {
      font-size: 1.5rem;
      color: #475569; }
    .footer-content li a {
      color: #0f172a;
      text-decoration: none;
      font-weight: 500; }
    .footer-content li input {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.6rem;
      border: 1px solid transparent;
      padding: 1rem;
      outline: none;
      background-color: #e5e7eb;
      width: 100%; }
      @media (max-width: 1000px) {
        .footer-content li input {
          padding: 1rem; } }

.submit-email {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #ff4d30;
  padding: 1.5rem 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 #ff5330;
  transition: all 0.3s;
  border: 2px solid #ff4d30;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%; }
  .submit-email:hover {
    box-shadow: 0 10px 15px 0 #ff5330;
    background-color: #fa4226; }

.team {
  max-width: 133rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 10rem;
  gap: 10rem; }
  @media (max-width: 1250px) {
    .team {
      grid-template-columns: 1fr 1fr;
      gap: 2rem; } }
  @media (max-width: 700px) {
    .team {
      grid-template-columns: 1fr; } }
  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    @media (max-width: 1200px) {
      .team-container {
        margin: 0 auto; } }
    @media (max-width: 400px) {
      .team-container {
        width: 70%; } }
    .team-container img {
      background-color: #f1f5f9; }
      @media (max-width: 400px) {
        .team-container img {
          width: 50%; } }
    .team-container-text {
      text-align: center;
      margin-bottom: 5rem; }
      .team-container-text h2 {
        font-size: 3rem; }
      .team-container-text p {
        font-size: 2rem; }

.main-btn {
  padding: 2rem;
  font-size: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s; }
  .main-btn:active {
    transform: scale(0.9); }

.btn-color-orange {
  background-color: #ea580c;
  color: #f8fafc;
  box-shadow: #ea580c 0px 2px 9px 0px; }
  .btn-color-orange:hover {
    background-color: #c2410c; }

.btn-color-black {
  background-color: #1c1917;
  color: #f8fafc;
  box-shadow: #57534e 0px 2px 9px 0px; }
  .btn-color-black:hover {
    background-color: #f8fafc;
    color: #1c1917; }

.btn-form {
  align-self: self-end; }

.main-btn-width {
  width: 100%;
  margin-top: 2rem; }

.hero {
  width: 100%;
  height: 41rem;
  background-image: linear-gradient(to right bottom, rgba(243, 244, 246, 0.801), rgba(229, 231, 235, 0.803)), url("/src/images/hero/heroes-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.title-hero {
  max-width: 133rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  .title-hero h2 {
    font-size: 4rem; }
  .title-hero p {
    font-size: 2rem; }
  @media (max-width: 1300px) {
    .title-hero {
      margin-left: 2rem; } }

.book-banner {
  background-image: linear-gradient(to right bottom, rgba(15, 23, 42, 0.801), rgba(51, 65, 85, 0.803)), url("/src/images/banners/book-banner.png");
  margin-block: 10rem;
  display: flex;
  height: 20rem;
  width: 100%;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1000px) {
    .book-banner {
      margin-block: 2rem; } }
  .book-banner-container-text {
    color: #f9fafb;
    display: flex;
    align-items: center;
    gap: 2rem; }
    @media (max-width: 1000px) {
      .book-banner-container-text {
        flex-direction: column;
        text-align: center; } }
    .book-banner-container-text h2 {
      font-size: 3rem; }
      @media (max-width: 1000px) {
        .book-banner-container-text h2 {
          font-size: 2rem; } }
    .book-banner-container-text span {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #ea580c;
      font-size: 3rem; }
      @media (max-width: 1000px) {
        .book-banner-container-text span {
          font-size: 2rem; } }

.footer {
  max-width: 133rem;
  margin: 0 auto;
  padding: 2rem; }
  .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 5rem; }
    @media (max-width: 1000px) {
      .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; } }

.footer-content {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%; }
  @media (max-width: 1000px) {
    .footer-content {
      width: 70%; } }
  .footer-content-title {
    font-size: 2.5rem;
    font-weight: 900; }
  .footer-content li {
    font-size: 2rem; }
    .footer-content li p {
      font-size: 1.5rem;
      color: #475569; }
    .footer-content li a {
      color: #0f172a;
      text-decoration: none;
      font-weight: 500; }
    .footer-content li input {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.6rem;
      border: 1px solid transparent;
      padding: 1rem;
      outline: none;
      background-color: #e5e7eb;
      width: 100%; }
      @media (max-width: 1000px) {
        .footer-content li input {
          padding: 1rem; } }

.submit-email {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #ff4d30;
  padding: 1.5rem 2.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 #ff5330;
  transition: all 0.3s;
  border: 2px solid #ff4d30;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%; }
  .submit-email:hover {
    box-shadow: 0 10px 15px 0 #ff5330;
    background-color: #fa4226; }

.contact-container {
  max-width: 133rem;
  margin: 0 auto;
  display: flex;
  margin-block: 10rem;
  justify-content: space-around; }
  @media (max-width: 1000px) {
    .contact-container {
      flex-direction: column;
      text-align: center;
      align-items: center; } }
  .contact-container-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 50rem; }
    .contact-container-text h2 {
      font-size: 4rem; }
    .contact-container-text p {
      font-size: 2rem;
      color: #64748b; }
    .contact-container-text span {
      font-size: 2rem; }
  .contact-container-form {
    max-width: 50rem;
    width: 100%; }
    @media (max-width: 1000px) {
      .contact-container-form {
        width: 75%;
        margin-top: 10rem; } }
    .contact-container-form form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 2rem; }
      .contact-container-form form button {
        background-color: #fb923c;
        padding: 2rem;
        outline: none;
        border: 1px solid #cbd5e1;
        color: #f8fafc;
        font-size: 2rem; }
    .contact-container-form-name input {
      padding: 2rem;
      outline: none;
      border: 0.1rem solid #cbd5e1;
      width: 100%; }
    .contact-container-form-email input {
      padding: 2rem;
      outline: none;
      border: 0.1rem solid #cbd5e1;
      width: 100%; }
    .contact-container-form-textarea textarea {
      padding: 2rem;
      outline: none;
      border: 0.1rem solid #cbd5e1;
      width: 100%; }

.login-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 48rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #f1f5f9; }
  .login-container h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5rem; }
  .login-container-text {
    text-align: center;
    font-size: 2rem; }
  .login-container-button {
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
    margin-top: 2rem; }
  @media (max-width: 500px) {
    .login-container {
      display: flex;
      width: 100%;
      height: 100%; } }

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8fafc;
  padding: 3rem;
  gap: 2rem; }
  .login-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .login-form-container-label {
      font-size: 2rem; }
    .login-form-container-input {
      border: 1px solid #d1d5db;
      background-color: #f9fafb;
      border-radius: 0.5rem;
      padding: 1rem 1.4rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fdba74 transparent #fdba74 transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.spinner-center {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center; }

.login-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 48rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #f1f5f9; }
  .login-container h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5rem; }
  .login-container-text {
    text-align: center;
    font-size: 2rem; }
  .login-container-button {
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
    margin-top: 2rem; }
  @media (max-width: 500px) {
    .login-container {
      display: flex;
      width: 100%;
      height: 100%; } }

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8fafc;
  padding: 3rem;
  gap: 2rem; }
  .login-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .login-form-container-label {
      font-size: 2rem; }
    .login-form-container-input {
      border: 1px solid #d1d5db;
      background-color: #f9fafb;
      border-radius: 0.5rem;
      padding: 1rem 1.4rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

.error-page {
  margin-block: 10rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .error-page-container {
    width: 50%;
    height: 30rem;
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .error-page-container-warning {
      font-size: 5rem;
      color: #991b1b; }

.button-icon {
  background: none;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s; }
  .button-icon:hover {
    background-color: #f3f4f6;
    cursor: pointer; }
  .button-icon svg {
    width: 2.2rem;
    height: 2.2rem;
    color: #ea580c; }
